<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.scorvec.mjo.map120</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/shawn/scorvec.github.io/scripts/mjo/refresh_map120.sh</string>
  </array>
  <key>WorkingDirectory</key><string>/Users/shawn/scorvec.github.io/scripts/mjo</string>
  <key>StartCalendarInterval</key>
  <dict><key>Hour</key><integer>4</integer><key>Minute</key><integer>30</integer></dict>
  <key>StandardOutPath</key><string>/Users/shawn/scorvec.github.io/scripts/mjo/map120.refresh.log</string>
  <key>StandardErrorPath</key><string>/Users/shawn/scorvec.github.io/scripts/mjo/map120.refresh.log</string>
  <key>RunAtLoad</key><false/>
  <key>ProcessType</key><string>Background</string>
</dict>
</plist>
