
<header class="site-header">
  <nav>
    <a href="index.html" class="nav-name">Shawn Corvec</a>
    <ul class="nav-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="resume.html">Resume</a></li>
      <li><a href="research.html">Research</a></li>
    </ul>
  </nav>
  <div class="enso-subnav">
    <a href="sst.html" class="{{A_OVERVIEW}}">Overview</a>
    <a href="enso-subsurface.html" class="{{A_SUBSURFACE}}">Subsurface</a>
    <a href="enso-analogs.html" class="{{A_ANALOGS}}">Analogs</a>
    <a href="enso-forecasts.html" class="{{A_FORECASTS}}">Forecasts</a>
    <a href="enso-atmosphere.html" class="{{A_ATMOSPHERE}}">Atmospheric Response</a>
  </div>
</header>
